body {
    background-color: lightgray;
}

.lessons span {
    width: fit-content;
    border: 1px solid black;
    padding-right: 1mm;
    padding-left: 0.5mm;
}

group-option {
    user-select: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

group-option[data-selected="1"] {
    background-color: white;
    color: black;
}

#currentTitle {
    font-size: xx-large;
}

#current {
    font-size: x-large;
}

/* For the class select, should be removed soon */
div:has(button.link-button) {
    width: fit-content;
}

button {
    margin-left: -0.5mm;
    background-color: darkgray ;
    border: 0.5mm solid black;
    color: black;
}

button.disabled {
    background-color: gray;
}